# Workspace Metadata
*/.metadata/*
*.cproject
*.project

# Specific Project Metadata
CS-282_Unix-Systems-Programming_2019-Spring/*/.settings/*
CS-282_Unix-Systems-Programming_2019-Spring/*/Debug/*

# Specific Project Git Metadata
CS-348_Software-Process-Managment_2019-Spring/*/.git/*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
